body {
  height: 100%; }

.accordion-section {
  margin-bottom: 100px; }
  .accordion-section .accordion .ct-accordion .card {
    border: none; }
  .accordion-section .accordion .ct-accordion .card .card-header {
    background-color: transparent;
    padding: 0;
    border: none; }
  .accordion-section .accordion .ct-accordion .card .card-header h5 {
    text-transform: uppercase; }
  .accordion-section .accordion .ct-accordion .card .card-header h5 a.collapsed,
  .accordion-section .accordion .ct-accordion .card .card-header h5 a {
    position: relative;
    display: block;
    color: #777;
    border-bottom: 1px solid #ddd;
    padding: 20px 0; }
  .accordion-section .accordion .ct-accordion .card .card-header h5 a {
    color: #333;
    border-bottom: 1px solid #25d25e; }
  .accordion-section .accordion .ct-accordion .card .card-header h5 a:hover,
  .accordion-section .accordion .ct-accordion .card .card-header h5 a:focus {
    text-decoration: none;
    color: #333; }
  .accordion-section .accordion .card-header h5 a[data-toggle='collapse']:after {
    font-family: 'themify';
    content: '\e622';
    position: absolute;
    right: 10px;
    top: 22px;
    color: #111; }
  .accordion-section .accordion .card-header h5 a[data-toggle='collapse'].collapsed:after {
    content: '\e61a';
    color: #777; }

.counter-section {
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/counter-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .counter-section .row {
    padding-top: 30px;
    padding-bottom: 30px; }
    .counter-section .row .col-6 .counter-item .count {
      text-align: center;
      font-weight: 800;
      font-size: 35px;
      display: block;
      margin-bottom: 10px;
      color: #25d25e; }
    .counter-section .row .col-6 .counter-item h5 {
      text-align: center;
      color: #ddd !important; }

.team-section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .team-section .heading h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 400; }
    .team-section .heading h2::before {
      content: "";
      position: absolute;
      left: 46%;
      bottom: 5%;
      width: 100px;
      height: 2px;
      background-color: #25d25e; }
  .team-section .heading p {
    margin: 0 0 15px;
    color: #777; }
  .team-section .team-member {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    display: block;
    border: 1px solid #ddd;
    position: relative; }
    .team-section .team-member::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s linear;
      opacity: 0; }
    .team-section .team-member:hover::before {
      background-color: #25d25e;
      opacity: 1;
      transform-origin: 0% 0% 0px;
      animation: reveal_stay 1s;
      z-index: 1;
      color: #333333; }
    .team-section .team-member .hover {
      text-align: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 30px;
      z-index: 2;
      padding: 0 25px;
      visibility: hidden;
      opacity: 0; }
      .team-section .team-member .hover h4 {
        color: #fff;
        margin: 0 0 5px;
        font-size: 20px;
        font-weight: 500; }
      .team-section .team-member .hover p {
        color: #fff; }
      .team-section .team-member .hover ul {
        width: 100%;
        height: 60px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        text-align: center; }
        .team-section .team-member .hover ul li {
          display: inline-block;
          margin: 0 3px; }
        .team-section .team-member .hover ul a {
          display: inline-block;
          border: 1px solid #fff;
          width: 28px;
          height: 28px;
          text-align: center;
          line-height: 26px;
          text-decoration: none;
          color: #fff;
          font-size: 10px;
          border-radius: 50%; }
          .team-section .team-member .hover ul a:hover {
            background-color: white;
            color: #333; }
    .team-section .team-member:hover .hover {
      visibility: visible;
      opacity: 1;
      top: 0;
      transition: all 0.2s;
      transition-delay: 0.6s; }

.cta-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #25d25e; }
  .cta-section h2 {
    display: inline-block;
    font-weight: 800;
    margin-right: 20px;
    color: #fff !important; }
  .cta-section a {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 45px; }
    .cta-section a:hover {
      background-color: white;
      color: black;
      text-decoration: none; }

.contact-section .place-card {
  display: none; }

@keyframes reveal_stay {
  0% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 0% 0px; }
  51% {
    transform-origin: 100% 50% 0px; }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 50% 0px; } }
.testimonial-section {
  padding-top: 100px;
  padding: 100px; }
  .testimonial-section.bg-grey {
    background-color: #f7f7f7; }
  .testimonial-section.bd-top-grey {
    border-top: 1px solid #eaeaea; }
  .testimonial-section .col-12 .owl-nav .owl-prev {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    color: #25d25e;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 58px;
    position: absolute;
    left: -18%;
    top: calc(50% - 30px);
    transition: all 0.2s linear; }
    .testimonial-section .col-12 .owl-nav .owl-prev i {
      font-size: 35px;
      line-height: 60px;
      text-align: center; }
  .testimonial-section .col-12 .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    color: #25d25e;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 58px;
    position: absolute;
    right: -18%;
    top: calc(50% - 30px);
    transition: all 0.2s linear; }
    .testimonial-section .col-12 .owl-nav .owl-next i {
      font-size: 35px;
      line-height: 60px;
      text-align: center; }
  .testimonial-section .col-12 .testimonial {
    padding: 100px; }
    .testimonial-section .col-12 .testimonial p {
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 30px; }
    .testimonial-section .col-12 .testimonial h4 {
      color: #fff;
      font-size: 16px;
      font-weight: 700; }

.testimonial-section2 {
  padding-top: 100px;
  padding: 100px;
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea; }
  .testimonial-section2 h2 {
    color: #2B2929;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.04em;
    margin-bottom: 20px; }
  .testimonial-section2 p {
    color: #747171;
    margin: 0 0 15px; }

.contact-margin {
  margin-top: 100px;
  margin-bottom: 100px; }

.contactUs {
  border: 1px solid #25d25e;
  padding: 30px 20px; }
  .contactUs .breadcrumb {
    background-color: white !important;
    position: absolute;
    top: 20%; }
    .contactUs .breadcrumb a {
      color: #333333; }

.mapAndMail {
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea; }
  .mapAndMail .form-control {
    border: 1px solid #ddd;
    color: #333; }
  .mapAndMail textarea.form-control {
    height: auto; }
  .mapAndMail .form-control:focus {
    border: 1px solid #25d25e; }
  .mapAndMail .margin-bottom-message {
    margin-bottom: 100px; }
    .mapAndMail .margin-bottom-message .col-sm-4 {
      list-style: none; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info li {
        font-size: 13px;
        color: #777;
        display: block;
        padding-left: 75px;
        margin-bottom: 20px;
        position: relative; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info li i {
        background-color: #25d25e;
        color: #fff;
        display: block;
        text-align: center;
        width: 52px;
        height: 52px;
        line-height: 52px;
        position: absolute;
        left: 0;
        top: 0; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info li span {
        display: block;
        width: 250px;
        line-height: 30px; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info-2 .info-item {
        display: block;
        background-color: #F7F7F7;
        border: 1px solid #ddd;
        padding: 80px 25px;
        border-radius: 3px; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info-2 .info-item i {
        display: inline-block;
        padding-bottom: 15px;
        border-bottom: 1px solid #25d25e;
        color: #25d25e;
        margin-bottom: 15px;
        font-size: 45px; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info-2 .info-item p {
        font-size: 13px; }
      .mapAndMail .margin-bottom-message .col-sm-4 .contact-form-info-2 .info-item p span {
        display: block; }

.maptop {
  margin-top: 100px; }

.btn-color {
  background-color: #25d25e;
  border: 1px solid #25d25e;
  color: white;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 2px; }

.searchEngine {
  position: relative;
  background-color: #25d25e;
  height: 300px;
  text-align: center; }
  .searchEngine .container.flx {
    justify-content: center; }
  .searchEngine h2 {
    color: white;
    position: absolute;
    top: 110px; }
  .searchEngine .col-sm-4 .btn-color2 {
    position: relative;
    top: 80px;
    background-color: #25d25e;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 2px; }
    .searchEngine .col-sm-4 .btn-color2:hover {
      background-color: white;
      color: #25d25e; }

@media (max-width: 1024px) {
  .contactUs .breadcrumb {
    width: 300px;
    right: 10px;
    top: 30px; } }

/*# sourceMappingURL=index.css.map */
